<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Battlepass Generator</title>
</head>
<body class = "amber lighten-4">
    <div class="container formsDiv">
        <div class="row blue">
            <h4>Index</h4>
            <form class="col s4 green">
                <span>Add item</span>
                <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Item Name" type="text" class="itemName">
                    </div>
                    <div class="input-field col s6">
                      <input type="text" class="itemCount">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select>
                          <option value="minecraft">Minecraft</option>
                          <option value="pixelmon" selected>Pixelmon</option>
                        </select>
                        <label>Item Source</label>
                      </div>
                    <div class="input-field col s12">
                        <select class="bpType">
                          <option value="free" selected>Free</option>
                          <option value="premium">Premium</option>
                        </select>
                        <label>BP type</label>
                      </div>
                      <div class="col s12 center">
                        <button class="addReward btn waves-effect waves-light red accent-1" type="submit">Add Reward</button>
                    </div>
                </div>
            </form>
            <form class="col s4 yellow">
                <span>Add Command</span>
                <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Command" type="text" class="commandText">
                    </div>
                    <div class="input-field col s12">
                        <select class="bpType">
                          <option value="free" selected>Free</option>
                          <option value="premium">Premium</option>
                        </select>
                        <label>BP type</label>
                      </div>
                      <div class="col s12 center">
                        <button class="addReward btn waves-effect waves-light red accent-1" type="submit">Add Reward</button>
                    </div>
                </div>
            </form>
            <form class="col s4 purple">
                <span>Add Pokemon</span>
                <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Pokemon" type="text" class="pokemonName">
                    </div>
                    <div class="input-field col s12">
                      <input placeholder="Custom Texture" type="text" class="textureName">
                    </div>
                    <div class="input-field col s12">
                      <input placeholder="Level" type="text" class="level">
                    </div>
                    <div class="input-field col s12">
                      <input placeholder="Nature" type="text" class="nature">
                    </div>
                    <div class="input-field col s12">
                      <input placeholder="Min IV %" type="text" class="miniv">
                    </div>
                    <div class="input-field col s12">
                        <select class="bpType">
                          <option value="free" selected>Free</option>
                          <option value="premium">Premium</option>
                        </select>
                        <label>BP type</label>
                      </div>
                      <div class="col s12 center">
                        <button class="addReward btn waves-effect waves-light red accent-1" type="submit">Add Reward</button>
                    </div>
                </div>
            </form>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/index.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>
</html>